<!--<mat-grid-list cols="5" rowHeight="150px"
              *ngFor = "let movie of movies">
  <mat-grid-tile 
            *ngFor="let tile of movies"
            [colspan]="tile.cols"
            [rowspan]="tile.rows"
            [style.background]="tile.color">
  </mat-grid-tile>
  <movie 
      [data] = "movie"
      (delete) = "hideHim($event)">
  </movie>
</mat-grid-list>
--><!--ex5-->

<!--<div class="filter">
  <input [(ngModel)] = "filter" type = "text" >  

  <button (click) = 'studioFilter()'> Click to filter </button>
</div>-->

<mat-form-field>
  <mat-select placeholder="Select a Studio" [(value)]="studio" (selectionChange)="toFilter()">
    <mat-option *ngFor="let s of studios" [value]="s">
      {{s}}
    </mat-option>
  </mat-select>
</mat-form-field>   


<table mat-table [dataSource]="movies" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- title Column -->
  <ng-container matColumnDef="income">
    <th mat-header-cell *matHeaderCellDef> Income </th>
    <td mat-cell *matCellDef="let element"> {{element.income}} </td>
  </ng-container>

  <!-- studio Column -->
  <ng-container matColumnDef="studio">
    <th mat-header-cell *matHeaderCellDef> Studio </th>
    <td mat-cell *matCellDef="let element"> {{element.studio}} </td>
  </ng-container>

  <!-- income Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button (click) = "toDelete(element)"> Delete Movie</button>
    </mat-cell>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<br>
<br>

<div style = "text-align: center;">
  The movie you deleted is: {{name}}
</div>