

<!--<mat-grid-list cols = "5" id={{id}}
*ngIf = "show">
<mat-grid-tile>
{{id}}
</mat-grid-tile>
<mat-grid-tile>
{{title}}
</mat-grid-tile>
<mat-grid-tile>
{{studio}}
</mat-grid-tile>
<mat-grid-tile>
{{weekendIncome}}
</mat-grid-tile>
<mat-grid-tile>
<button (click) = "deleteRow()">
Delete Movie
</button>
</mat-grid-tile>
</mat-grid-list>-->